name: Tag

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:

  ############
  # Tag Bump #
  ############
  create-tag:
    name: Create a Tag
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      new-tag: ${{ steps.tag_bump.outputs.new_tag }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v5
        id: checkout
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'
          fetch-tags: true
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: sbt
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Build
        run: sbt -v +compile
      - name: Tag the branch with the latest version
        uses: anothrNick/github-tag-action@v1
        id: tag_bump
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
          TAG_PREFIX: v
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 0.1.0