name: Tag

# Trigger only on pushes to the "main" branch, ignoring changes in "gh-pages/"
on:
  push:
    branches: [main]
    paths-ignore:
      - 'gh-pages/**'

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:

  ###########################
  # Detect gh-pages/ Change #
  ###########################
  gh-pages-changes:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check.outputs.skip }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check for gh-pages Changes
        id: check
        run: |
          set -euo pipefail
          echo "Diff range: ${{ github.event.before }}..${{ github.sha }}"
          if git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -q '^gh-pages/'; then
            echo "Changes in gh-pages/ detected. Will skip tag creation."
            echo "skip=true" >> "$GITHUB_OUTPUT"
          else
            echo "No gh-pages/ changes. Proceed."
            echo "skip=false" >> "$GITHUB_OUTPUT"
          fi

  ############
  # Tag Bump #
  ############
  tag:
    name: Create a Tag
    needs: gh-pages-changes
    if: needs.detect-gh-changes.outputs.skip != 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      new-tag: ${{ steps.tag_bump.outputs.new_tag }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v5
        id: checkout
        with:
          fetch-depth: '0'
          fetch-tags: true
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
          cache: sbt
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Build
        run: sbt -v +compile
      - name: Tag the branch with the latest version
        uses: anothrNick/github-tag-action@v1
        id: tag_bump
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
          TAG_PREFIX: v
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 0.1.0